/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */
/* 
.App-link {
  color: #61dafb;
} */

/*Get rid of scroll bars but keep functionality*/
body::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body {
  background-color: #282c34;
  padding: 20px;
  margin: 0;
}

h1, h2, h3, p, ul, li {
  color: #FFF;
  font-size: 1.25vw;
  font-family: sans-serif;
}

h1 {
  font-size: 3.5vw;
}


h2 {
  font-size: 3vw;
}

h3 {
  font-size: 2.5vw;
}

h4 {
  font-size: 2vw;
}

h5 {
  font-size: 1.5vw;
}

h6 {
  font-size: 1vw;
}

ul.header li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.header {
  background-color: #111;
  padding: 0;
}

ul.header li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px; /* 1.5% */
  display: inline-block;
}

.content {
  /* background-color: #FFF; */
  padding: 0px;
}

.content h2 {
  padding: 0;
  margin: 0;
}
.content li {
  margin-bottom: 10px;
}

.active {
  background-color: #0099FF;
}

.container {
  width: 100%;
  display: inline;
}

.left {
  min-width: 50%;
}

.right {
  text-align: center;
  min-width: 40%;
}

.ag-header-cell-label {
  justify-content: center;
}